body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EAF7FF;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  margin-bottom: .5em;
  color: #000000;
  font-size: .7em;
}

input {
  background-color: #8FF2FF;
  color: #000000;
  border: 1px solid #555;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: .6em;
}

input::placeholder {
  color: #000000;
  opacity: 0.5;
}

.btn,
button, 
input[type="submit"] {
  background-color: #8FF2FF;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;  
}

input[type="submit"] {
  margin-top: 1em;
}

input:disabled {
  cursor: not-allowed;
  background-color: black;
}

button:hover,
input[type="submit"]:hover {
  background-color: #000000;
  color: #ffffff;
}

.cancel-btn {
  background-color: #ccc;
}

.hide {
  display: none;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

.add-button {
  border-radius: 10px;
  text-align: center;
  border: none;
}