#assessments {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.assessment-user{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 0.97em;
  background-color: white;
  border-radius: 10px;
}

.assessment-info {
  display: flex;
  flex-direction: column;
}

.assessment-info span{
  padding: 3px;
  font-size: 1em;
}

.assessment-info .name {
  font-size: 1.5em;
}