#home {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.home-title {
  padding: 10px;
}

.home-options {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10px;
}

.home-options select {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 0.97em;
}

.home-profile img {
  width: 50px;
}

.home-card {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 0.75em;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.home-profile{
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.home-profile img {
  margin-top: 7px;
}
.home-note {
  margin-right: 30px;
}

.home-price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #DCFCFE;
  padding: 8px 17px 6px 8px;
  border-top-right-radius: 10px;
  font-size: 1.2em;
}

.home-assets-buttons {
  display: flex;
  justify-content: flex-end;
  color: black;
  margin-top: 30px;
}


.button-assessment {
  padding: 5px;
  background-color: transparent;
  margin-left: 10px;
  border: none;
  width: 110px;
  height: 25px;
  border-radius: 5px;
}

.button-wash {
  padding: 5px;
  margin-left: 10px;
  border: none;
  width: 110px;
  height: 25px;
  border-radius: 5px;
}