.wash-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.wash-card {
  padding: 25px;
  display: grid;
  grid-template-columns: 2.5fr 1fr 2fr;
  background-color: #ffffff;
  margin-bottom: 16px;
  position: relative;
  border-radius: 10px;
}

.wash-card p {
  font-weight: bold;
  padding-top: 3px;
}

.wash-info {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  flex-direction: column;
}

.wash-car{
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  flex-direction: column;

}

.wash-price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #DCFCFE;
  padding: 8px 17px 6px 8px;
  border-top-right-radius: 10px;
  font-weight: 700;
}

.wash-date {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.buttons .delete-button{
  width: 140px;
}

.wash-price-date {
  display: flex;
  
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.164); /* Tom de cinza claro */
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input,
.textarea {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
}

.button-container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.button-container {
  text-align: center;
}

.rate-button {
  margin-right: 5px;
}