span { 
  padding: 0;
  margin: 0;
}

.wash-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.wash-card {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 16px;
  position: relative;
  border-radius: 10px;
}

.wash-card p {
  font-weight: bold;
  padding-top: 3px;
}

.wash-car, .wash-info {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  flex-direction: column;
}

.wash-price-date {
  display: flex;
}

.wash-price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #DCFCFE;
  padding: 8px 17px 6px 8px;
  border-top-right-radius: 10px;
  font-weight: 700;
}

.wash-date {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}